{% extends "layout.html" %}
{% block title %}Create{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/estimatefunctions.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <!-- Nav tabs -->
        <div class="row">
            <div class="col-sm-3">
                <ul class="nav navbar-dark bg-dark flex-column" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#home" role="tab">Overview</a>
                    </li>
                    {% for story in stories %}
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#{{ story }}" role="tab">{{ story }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-9">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="home" role="tabpanel">
                        <!--<h1>Hello {{ username }}.</h1>
                        <p>Please click on a story on the left to start estimating.</p>
                        <h2>Overview:</h2> -->
                        <table class="table">
                            <thead class="thead-inverse">
                            <tr>
                                <th>US ID</th>
                                <th>Estimate</th>
                                <th>Comment</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for story in stories %}
                                <tr>
                                    <td>{{ story }}</td>
                                    <td id="{{ story }}_estimate_cell">?</td>
                                    <td id="{{ story }}_comment_cell">?</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                    {% for story in stories %}
                        <div class="tab-pane" id="{{ story }}" role="tabpanel">
                            <div class="row top-buffer">
                                <div class="col-sm-9">
                                    <div class="embed-responsive embed-responsive-1by1">
                                        <iframe class="embed-responsive-item"
                                                src="https://www.atlassian.com/">Content could not be displayed.
                                        </iframe>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="{{ story }}_comments">Comment</label>
                                        <textarea class="form-control commentbox" id="{{ story }}_comment" rows="7"></textarea>
                                        <br>
                                        <label for="{{ story }}_estimate">Estimate</label>
                                        <select class="form-control estimatebox" id="{{ story }}_estimate">
                                            <option>1</option>
                                            <option>4</option>
                                            <option>8</option>
                                            <option>14</option>
                                            <option>25</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}