{% extends "layout.html" %}
{% block title %}Create{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/estimatefunctions.js') }}"></script>
{% endblock %}
{% block nav_join %}active{% endblock %}
{% block content %}
    <meta id="global-data" data-username="{{username}}" data-planning="{{planning_title}}">
    <div class="container">
        <!-- Nav tabs -->
        <div class="row">
            <div class="col-sm-3 sidebar">
                <ul class="nav navbar flex-column" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#home" role="tab">Overview</a>
                    </li>
                    {% for story in stories %}
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#{{ story.name }}" role="tab">{{ story.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-9">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="home" role="tabpanel">
                        <h1>Hello {{ username }}.</h1>
                        <p>Please click on a story on the left to start estimating.</p>
                        <h3>Overview:</h3>
                        <table class="table" id="estimates_table">
                            <thead class="thead-inverse">
                            <tr>
                                <th style="display:none">ID</th>
                                <th>US ID</th>
                                <th>Estimate</th>
                                <th>Comment</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for story in stories %}
                                <tr>
                                    <td style="display:none" id="{{ story.name }}_id">{{ story.id }}</td>
                                    <td id="{{ story.name }}_name">{{ story.name }}</td>
                                    <td id="{{ story.name }}_estimate_cell">-</td>
                                    <td id="{{ story.name }}_comment_cell"></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-primary btn-lg btn-block" id="submit_estimates">Submit Estimates</button>
                    </div>
                    {% for story in stories %}
                        <div class="tab-pane" id="{{ story.name }}" role="tabpanel">
                            <div class="row top-buffer">
                                <div class="col-sm-9">
                                    <h2>{{ story.summary }}</h2>
                                    </br>
                                    <p>{{ story.description }}</p>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="{{ story }}_comments">Comment</label>
                                        <textarea class="form-control commentbox" id="{{ story.name }}_comment" rows="7"></textarea>
                                        <br>
                                        <label for="{{ story }}_estimate">Estimate</label>
                                        <select class="form-control estimatebox" id="{{ story.name }}_estimate">
                                            <option>-</option>
                                            <option>1</option>
                                            <option>4</option>
                                            <option>8</option>
                                            <option>14</option>
                                            <option>25</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}