{% extends "layout.html" %}
{% block title %}Join{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/listfunctions.js') }}" xmlns="http://www.w3.org/1999/html"></script>
{% endblock %}
{% block nav_join %}active{% endblock %}
{% block content %}
    
    <div class="container">
        <h1>Find Planning</h1>
        <p>Fill out all the boxes in order to join a planning meeting.</p>
        {% if error %}
            <div id="error" class="alert alert-danger" role="alert">{{ error }}</div>
        {% endif %}
        <form action="" method="post">
            {{ form.csrf_token }}
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" style="width: 130px">Select Planning</span>
                    <select class="form-control {% if form.errors and 'planning' in form.errors%} is-invalid {%endif%}" name="planning">
                        <option selected value="">Choose Planning...</option>
                        {% for planning in planning_list %}
                            <option value="{{ planning }}">{{ planning }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" style="width: 130px">Password</span>
                    <input type="password" class="form-control {% if form.errors and 'password' in form.errors%} is-invalid {%endif%}"
                           placeholder="Enter the password for that planning meeting."
                           aria-label="plan" aria-describedby="basic-addon1" name="password">
                </div>
                <small id="titlehelp" class="form-text text-muted"> This password should have been provided by your
                    scrum
                    master.
                </small>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" style="width: 130px">Name</span>
                    <input type="text" class="form-control {% if form.errors and 'name' in form.errors%} is-invalid {%endif%}" placeholder=
                        "Enter your name."
                           aria-label="plan" aria-describedby="basic-addon1" name="name">
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Find Planning</button>
        </form>
    </div>
{% endblock %}