{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block nav_home %}active{% endblock %}
{% block content %}
    <div class="logo"></div>
    <div class="container">
        <div class="row equal">
            <div class="col-sm-4">
                <h2>Create Planning</h2>
                <p>This allows you to create a distributed planning meeting. This option is meant for Scrummasters
                    setting up planning meetings for an upcoming sprint. </p>

            </div>
            <div class="col-sm-4">
                <h2>Join Planning</h2>
                <p>Join a created planning meeting and estimate. This option is meant for team members which will be
                    working on the planned increment. </p>

            </div>
            <div class="col-sm-4">
                <h2>View Planning</h2>
                <p>Allows you to view the results of a planning meeting. If you know the password :)</p>

            </div>
        </div>
        <!-- TODO this doesnt work when going on small screens. Figure out a way to keep the buttons in one row-->
        <div class="row">
            <div class="col-sm-4">
                <p><a class="btn btn-block btn-secondary" href="{{ url_for('create') }}" role="button">Create</a></p>
            </div>
            <div class="col-sm-4">
                <p><a class="btn btn-block btn-secondary" href="{{ url_for('join') }}" role="button">Join</a></p>
            </div>
            <div class="col-sm-4">
                <p><a class="btn btn-block btn-secondary" href="{{ url_for('view') }}" role="button">View</a></p>
            </div>
        </div>
    </div><!-- /container -->

{% endblock %}